
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #5782b9;
    
}

.login-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #5080a8;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

h2 {
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

form {
    text-align: center;
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="password"] {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 7px; /* Bo tròn */
}

input[type="submit"] {
    padding: 10px 30px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}
.forgot-password {
    text-align: center;
    margin-top: 10px;
}

.forgot-password a {
    font-size: 14px;
}
